.box{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: pink;
}
.one{
    background-color: blanchedalmond;
    position: relative;
    z-index: 1;
}

.two{
    background-color: burlywood;
    position:relative;
    bottom: 50px;
    z-index: 2;
}